apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: simpleapp-prod

resources:
- ../../base
- namespace.yaml
- hpa.yaml

labels:
- includeSelectors: true
  pairs:
    environment: prod

images:
- name: simpleapp-api
  newName: ghcr.io/atychkivskyy/simpleapp-api
  newTag: f8cd3c9

replicas:
- count: 3
  name: simpleapp-api

patches:
- patch: |-
    - op: replace
      path: /data/APP_ENVIRONMENT
      value: "prod"
  target:
    kind: ConfigMap
    name: simpleapp-config
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: "512Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: "1Gi"
  target:
    kind: Deployment
    name: simpleapp-api
